<h2>{{greeting}}</h2>
<form name="account">
  <div class="row">
    <div class="col-xs-12 col-md-6">
      <input type="text" name="title" value="{{title}}" placeholder="Заголовок">
    </div>
    <div class="col-xs-12 col-md-6">
      <input type="text" name="price" value="{{price}}" placeholder="Цена($)">
    </div>
    <div class="col-xs-12">
      <label>
        Продаю с email
        <input type="checkbox" name="isWithEmail">
      </label>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <textarea name="description" placeholder="Краткое описание">{{description}}</textarea>
    </div>
  </div>  
  <br>
  <div id="userInfo"></div>
  <div id="tanks"></div>
  <br>
  <button class="loginWot">Login to Wargaming</button>
  <br>
  <br>
  <button id="proceed" class="big icon fa-arrow-circle-right">Продать</button>
</form>
