<div id="content" class="account">
  <!-- Content -->
  <article>
    <div class="row">
      <div class="col-sm-4">
        <h2>{{title}}</h2>
        <h2 class="price">{{price}} <i class="icon fa-usd"></i></h2>
        <a href="maito:{{user.email}}">Задать вопрос продавцу <i class="icon fa-question"></i></a>
        <br>
        <b>Продавец: </b> <a href="/profile/{{user._id}}">{{user.name}}</a> <span class="icon fa-star"> 23</span>
        <br>
        <span class="like">Like <i class="icon fa-thumbs-up"></i> </span>
        <br>
        <div class="fb-like" data-href="{{share_link}}" data-layout="box_count" data-action="like" data-show-faces="true" data-share="true"></div>
        <div id="vk_like"></div>
        <br>
        <div id="ok_shareWidget"></div>
        <br>
      
        <button class="button big buy">Купить</button>
      </div>
      <div class="col-sm-8">
        <h3>Краткое описание</h3>
        <p>{{description}}</p>
        <div id="tanksList">
          <div class="loader"></div>
        </div>
        <h3>Информация про аккаунт</h3>
        <table class="default">
          <tbody>
            <tr>
              <td>Привязан к телефону</td>
              <td>{{is_bound_to_phone}}</td>
            </tr>
            <tr>
              <td>Продается с email</td>
              <td>{{is_with_email}}</td>
            </tr>
            <tr>
              <td>Acc id</td>
              <td>{{acc_id}}</td>
            </tr>
          </tbody>
        </table>
        <h3>Статистика</h3>
        <table class="default">
          <tbody>
            <tr>
              <td>Боев</td>
              <td>{{statistic.battles}}</td>
            </tr>
            <tr>
              <td>Процент побед</td>
              <td>{{statistic.win_rate}}</td>
            </tr>
            <tr>
              <td>Золото</td>
              <td>{{statistic.gold}}</td>
            </tr>
            <tr>
              <td> <span class="icon fa-star"></span> Опыт</td>
              <td>{{statistic.free_xp}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </article>
</div>
