<html>
	<head>
		<title>{{header}}</title>
		<meta charset="utf-8">
	</head>
	<body>
		<h1>Welcome sooqa {{userName}}!</h1>
		<p>
			Your login: <b>{{userName}}</b>
		</p>
		<p>
			Please confirm your registration by follow link: <a href="{{link}}">CLICK HERE</a>
		</p>
	</body>
</html>