<html>
	<head>
		<title>{{header}}</title>
		<meta charset="utf-8">
	</head>
	<body>
		<h1>Dear {{userName}}!</h1>
		<p>
			To reset your  password follow next link: <a href="{{link}}">Reset password</a>
		</p>
	</body>
</html>