{{#if user}}
{{#with user}}
<div class="row">
  <div class="col-sm-4">
    <div class="feedback-profile-card text-center">
      <div class="avatar">
        <img src="{{avatar}}" alt="avatar">
      </div>
      <a href="/profile/me">{{name}}</a>
      <br>
      <fieldset class="rating rating_2">
        <input type="radio" id="star5" name="rating" checked value="5" />
        <label class="full" for="star5" title="Awesome - 5 stars"></label>
        <input type="radio" id="star4" name="rating" value="4" />
        <label class="full" for="star4" title="Pretty good - 4 stars"></label>
        <input type="radio" id="star3" name="rating" value="3" />
        <label class="full" for="star3" title="Meh - 3 stars"></label>
        <input type="radio" id="star2" name="rating" value="2" />
        <label class="full" for="star2" title="Kinda bad - 2 stars"></label>
        <input type="radio" id="star1" name="rating" value="1" />
        <label class="full" for="star1" title="Sucks big time - 1 star"></label>
      </fieldset>
    </div>
  </div>
  <div class="col-sm-8">
    <form class="feedback" action="">
      <textarea name="" id="" cols="30" class="feedback-text" placeholder="тут отзыв бич" rows="10"></textarea>
      <br>
      <button class="button send">Отправить</button>
    </form>
  </div>
</div>
{{/with}}
<hr>
{{/if}}
<div rel="pagination"></div>
<div class="feedbacks-list"></div>
<div rel="pagination"></div>
