<div class="col-xs-4">
  <div class="feedback-profile-card text-center">
    <div class="avatar">
      <img src="{{user.avatar}}" alt="">
    </div>
    <a href="#profile/{{user._id}}">{{user.name}}</a>
    <br>
    <fieldset class="rating selected rating_{{rating}}">
      <label for="" class="star"></label>
      <label for="" class="star"></label>
      <label for="" class="star"></label>
      <label for="" class="star"></label>
      <label for="" class="star"></label>
    </fieldset>
  </div>
</div>
<div class="col-xs-8">
  {{#lineSeparator text}}
   {{#each lines}}
    <p>{{this}}</p>
   {{/each}}
  {{/lineSeparator}}
</div>
<hr>
