.feedback-profile-card {
  $grey: rgb(105, 105, 105);
  .rating {
    border: none;
    display: inline-block;
    // float: left;
    &.selected {
    	position: relative;	
    	&:after {
    		content: '';
    		position: absolute;
    		top: 0;
    		left: 0;
    		width: 100%;
    		height: 100%;
    		z-index: 1;
    	}
       & > label {
       	float: left;
        color: $purple
      }
    }
    @for $i from 1 through 5 {
      &_#{$i} {
        & > label:nth-of-type(#{$i}) ~ label {
          color: #ddd
        }
      }
    }
    & > input {
      display: none;
    }
    & > label:before {
      margin: 5px;
      font-size: 1.25em;
      font-family: FontAwesome;
      display: inline-block;
      content: "\f005";
    }
    & > .half:before {
      content: "\f089";
      position: absolute;
    }
    & > label {
      color: #ddd;
      transition: .2s ease;
      float: right;
    }
    /***** CSS Magic to Highlight Stars on Hover *****/
    & > input:checked ~ label,
    /* show gold star when clicked */
    &:not(:checked) > label:hover,
    /* hover current star */
    &:not(:checked) > label:hover ~ label {
      color: lighten($purple, 15%);
    }
    /* hover previous stars in list */
    & > input:checked + label:hover,
    /* hover current star when changing rating */
    & > input:checked ~ label:hover,
    & > label:hover ~ input:checked ~ label,
    /* lighten current selection */
    & > input:checked ~ label:hover ~ label {
      color: $purple;
    }
  }
}

form.feedback {
  textarea {
    height: 200px;
    max-width: 100%;
  }
}
