#status-bar {
	@include clearfix;
	position: fixed;
	top: 0;
	width: 100%;
	// height: 30px;
	z-index: 100;
	background: $purple;
	padding: 0 10px;
	.profile {
		color: white;
		float: right;
		position: relative;
		.login:hover ~ .loginPopup {
			transform: scale3d(1,1,1);
		}
		.loginPopup {
			&:hover {
				transform: scale3d(1,1,1);
			}
			position: absolute;
			transform: scale3d(1,0,1);
			transform-origin: top;
			top: 100%;
			right: 0;
			z-index: 2;
			transition: .3s ease;
			width: 100%;
			min-width: 250px;
			background: $purple;
			border-radius: 0 0 6px 6px;
			padding-bottom: 7px; 
			button {
				display: block;
				box-sizing: initial;
				width: 35px;
				height: 35px;
				padding: 3px 5px;
				margin: auto;
				border-radius: 50%;
				&:before {
					margin-right: 0;
				}
			}

		}
		a {
			color: inherit;
			& + a {
				display: inline-block;
				position: relative;
				margin-left: 5px;
				&:before {
					display:block;
					position: absolute;
					left: -9px;
					content: '|';
				}
			}
		}
	}
}