$purple: #ff4486;

@import 'gfonts';
@import 'mixin';
@import 'loader';
@import 'feedbacks';
@import 'design.css';
@import "font-awesome.min.css";
@import "bootstrap.min.css";
@import "header";


.editable {
	position: relative;
	&.edit {
		input {
			display: block;
		}
	}
	input {
		display: none;
		font: inherit;
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
}

button {
	transition: .3s ease;
	&.full-width {
		text-align: center;
		width: 100%;
		display: block;
	}
	&.hidden {
		max-height: 0;
		padding: 0;
		overflow: hidden;
	}
	&.odnoklassniki {
		&:hover {
			background-color: #FD9842;
		}
	}
	&.google {
		&:hover {
			background-color: red;
		}
	}
}

.text-center {
	text-align: center;
}


form {
	input {
		&.error {
			border-color: red;
		}
		&.success {
			border-color: green;
		}
	}
}

.profile {
	.logo {
		img {
			display: block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: inherit;
			height: inherit;
			transform: translate(-50%,-50%);
		}
		&:hover {
			border-radius: 10px;
		}
		transition: .5s ease;
		position: relative;
		width: 100px;
		height: 100px;
		margin: auto;
		overflow: hidden;
		border-radius: 50%;
	}
	.name {
		span {
			// font-size: 0.7em;
			padding-left: 5px;
			display: inline-block;
			text-indent: 10px;
			&.icon{
				color: gold;
			}
		}
		a {
			font-size: 0.7em;
			display: inline-block;
			color: #0090c5;
			&:hover {
				text-decoration: underline;
			}
		}
		line-height: 90px;
	}
}

#banner {
	padding: 4rem 0;
}


.account {
	.like {
		&:hover {
			color: black;
		}
		&:active, &:focus, &.active {
			color: $purple;
		}
		.list {
			list-style: none;
			display: block;
			position: absolute;

		}
		position: relative;
		cursor: pointer;
		transition: .3s ease;
		font-size: 20px;			
	}
}

.image.featured {
	overflow: hidden;
}