<div id="banner" class="box">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h2>Есть ненужный акк?</h2>
        <p>Продай его у нас!</p>
      </div>
      <div class="col-md-5">
        <ul>
          <li><a href="/sell" class="button big icon fa-arrow-circle-right">ПРОДАТЬ</a></li>
          <li><a href="#" class="button alt big icon fa-shopping-cart">Купить</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>
