<div id="status-bar">
  <div class="container">
    <div class="profile">
    {{#if name}}
       Hello <a href="/profile/me">{{name}}</a>
       <a href="#" class="logout">logout</a>
    {{else}}
      <a href="/login">Login</a>
      <a href="/register">Register</a>
      <div class="loginPopup">
        <div class="row">
          <div class="col-xs-4">
            <button class="odnoklassniki icon fa-odnoklassniki"></button>
          </div>
          <div class="col-xs-4">
            <button class="google icon fa-google"></button>
            
          </div>
          <div class="col-xs-4">
            <button class="vk icon fa-vk"></button>
          </div>
        </div>
      </div>
    {{/if}}
    </div>
  </div>
</div>
<header id="header" class="container">
  <!-- Logo -->
  <div id="logo">
    <h1><a href="/">AccShop</a></h1>
    <span>ACOOUNTS TRADING PLACE</span>
  </div>
  <!-- Nav -->
  <nav id="nav">
    <ul>
      <li class="opener" style="-webkit-user-select: none; cursor: pointer; white-space: nowrap;">
        <a href="/sell">Продать акк</a>
        <ul class="" style="-webkit-user-select: none; display: none; position: absolute;">
          <li style="white-space: nowrap;"><a href="index.html" style="display: block;">All</a></li>
          <li style="white-space: nowrap;"><a href="#" style="display: block;">WOT</a></li>
          <li class="opener" style="-webkit-user-select: none; cursor: pointer; white-space: nowrap;">
            <a href="#" style="display: block;">Battle.net</a>
            <ul style="-webkit-user-select: none; display: none; position: absolute;" class="dropotron">
              <li style="white-space: nowrap;"><a href="#" style="display: block;">ACCOUNTS</a></li>
              <li style="white-space: nowrap;"><a href="#" style="display: block;">GOLD</a></li>
              <li style="white-space: nowrap;"><a href="#" style="display: block;">RANKUP</a></li>
              <li style="white-space: nowrap;"><a href="#" style="display: block;">OTHER</a></li>
            </ul>
          </li>
          <li style="white-space: nowrap;"><a href="#" style="display: block;">STEAM</a></li>
        </ul>
      </li>
      <li><a href="/feedbacks">Отзывы</a></li>
    </ul>
  </nav>
</header>
