<section class="box feature">
  <a href="/product/{{_id}}" class="image featured"><img src="/public/images/pic0{{#randomImg}}{{/randomImg}}.jpg" alt=""></a>
  <div class="inner">
    <header>
      <h2>{{title}}</h2>
      <p>{{description}}</p>
    </header>
    <ul>
      <li>Price($): {{price}}</li>
      <li>Reputation: </li>
      <li>User: <a href="/profile/{{user._id}}">{{user.name}}</a> </li>
    </ul>
    <a href="product/{{_id}}" class="button icon fa-arrow-circle-right">Подробнее...</a>
  </div>
</section>
