  <td><a href="/product/{{_id}}">{{title}}</a></td>
  <td>{{price}}$</td>
  <td>
  	<a href="/product/edit/{{_id}}" class="edit small button" title="Редактировать"><span class="icon fa-pencil"></span></a>
  </td>
  <td>
      <button class="delete small" title="Удалить"><span class="icon fa-times"></span></button>
  </td>
