<h3>Выставлено на продажу</h3>
<table class="default">
  <thead>
    <tr>
      <th>Аккаунт</th>
      <th>Цена</th>
      <th class="editColumn">Редактировать</th>
      <th class="deleteColumn">Удалить</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
