<h3>{{type}}</h3>
<table class="default">
  <thead>
    <tr>
      <th>
        Аккаунт
      </th>
      <th>Цена</th>
      <th>Дата изменения</th>
      <th>Статус</th>
    </tr>
  </thead>
  <tbody>
  </tbody>
</table>
