<div id="content" class="profile">
  <div class="row">
    <div class="col-md-4 col-sm-12">
      <div class="logo">
        <img src="{{avatar}}" alt="">
      </div>
    </div>
    <div class="col-md-8 col-sm-12">
      <h2 class="name editable">{{name}} <a href=""><span class="icon fa-star"></span>{{rating}}</a>
        <input type="text">
      </h2>
    </div>
    <div class="col-xs-12" id="userAccs">
      <div class="loader"></div>
    </div>
    </div>
    <div class="row">
    <div class="col-md-6">
      <div id="buys"></div>
    </div>
    <div class="col-md-6">
      <div id="sells"></div>
    </div>
  </div>
</div>
