<div class="container box">
    <div class="row">
	    <div class="col-xs-12">
	    	<h2>Congratulations, <b>{{name}}</b>!</h2>
	    	<h3>Your email: <b>{{email}}</b> confirmed.</h3>
	    </div>
	    <br>
	    <div class="col-xs-12">
	    	<a href="/" class="button">Return to the main page</a>
	    </div>
    </div>
</div>
