<div class="row">
	<div class="col-sm-6">
		<button class="google full-width icon fa-google">Google login</button>
	</div>
	<div class="col-sm-6">
		<button class="odnoklassniki full-width icon fa-odnoklassniki">Odnoklassniki login</button>
	</div>
</div>
<br>
<div class="row">
	<div class="col-sm-6">
		<button class="vk icon full-width fa-vk">Vkontakte login</button>
	</div>
</div>
<br>
<div class="box">
	<div class="row">
	  <div class="col-xs-12">
	    <form action="">
	      <div class="row">
	        <div class="col-xs-4">
	          <label>email</label>
	        </div>
	        <div class="col-xs-8">
	          <input type="email" name='email' required>
	        </div>
	      </div>
	      <br>
	      <div class="row">
	        <div class="col-xs-4">
	          <label>Password</label>
	        </div>
	        <div class="col-xs-8">
	          <input type="password" name='password' required>
	        </div>
	      </div>
	      <div class="row">
	      	<div class="col-xs-12">
	      		<a href="/forgotPassword">Forgot password?</a>
	      	</div>
	      </div>
	      <br>
	      <div class="row">
	        <div class="col-xs-12">
	          <button class="full-width submit">Submit</button>
	        </div>
	      </div>
	    </form>
	  </div>
	</div>
</div>
