<div class="row">
  <div class="col-xs-12">
    <form name="registration-form" action="">
      <div class="row">
        <div class="col-xs-4">
          <label>login</label>
        </div>
        <div class="col-xs-8">
          <input type="text" name='name' required>
        </div>
      </div>
      <br>
       <div class="row">
        <div class="col-xs-4">
          <label>Email</label>
        </div>
        <div class="col-xs-8">
          <input type="email" name='email' required>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-4">
          <label>Password</label>
        </div>
        <div class="col-xs-8">
          <input type="password" name='password'  required>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-4">
          <label>Confirm password</label>
        </div>
        <div class="col-xs-8">
          <input type="password" name='passwordConfirm' required>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-xs-12">
          <button class="full-width submit" type="submit">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>