<div class="container box">
    <div class="row">
        <div class="col-xs-12">
            <form action="">
                <div class="row">
                    <div class="col-xs-4">
                        <label>Password</label>
                    </div>
                    <div class="col-xs-8">
                        <input type="password" name='password' required>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-4">
                        <label>Confirm password</label>
                    </div>
                    <div class="col-xs-8">
                        <input type="password" name='passwordConfirm' required>
                    </div>
                </div>
                <br>
                <div class="row">
                    <div class="col-xs-12">
                        <button class="full-width submit" type="submit">Reset</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>