<div class="container box">
	<div class="row">
	  <div class="col-xs-12">
	    <form action="">
	      <div class="row">
	        <div class="col-xs-4">
	          <label>Your email</label>
	        </div>
	        <div class="col-xs-8">
	          <input type="email" name='email' required>
	        </div>
	      </div>
	      <br>
	      <div class="row">
	        <div class="col-xs-12">
	          <button class="full-width submit">Reset</button>
	        </div>
	      </div>
	    </form>
	  </div>
	</div>
</div>